.cost {
  position: fixed;
  margin-left: 70%;
}

/* STYLES PROVIDED BY UDACITY */
img {
  width: 100px;
  border-radius: 10px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
