<div class="cart-item">
  <img src="{{ item.url }}" alt="{{ item.name }}" />
  <div class="cart-item-details">
    <h2>{{ item.name }}</h2>
    <p>GH&#8373; {{ item.price }}</p>
    <label for="amount">Amount</label>
    <input
      type="number"
      class="number-input form-control"
      id="amount"
      min="0"
      [(ngModel)]="quantity"
      (ngModelChange)="updateCost(item)"
    />
    <button
      style="display: block"
      (click)="removeFromCart(item.id)"
      class="btn btn-danger mt-2"
    >
      Remove &#10005;
    </button>
  </div>
</div>
