<div class="detail-container" *ngIf="product; else elseBlock">
  <img src="{{ product.url }}" alt="{{ product.name }}" />

  <div class="detail-item">
    <h2>{{ product.name }}</h2>
    <p>GH&#8373; {{ product.price }}</p>
    <p>{{ product.description }}</p>
    <form #form="ngForm" (ngSubmit)="addToCart()">
      <input
        type="number"
        name="quantity"
        id=""
        class="select-input"
        min="1"
        [defaultValue]="1"
        [(ngModel)]="quantity"
      />
      <input type="submit" value="Add to cart" />
    </form>
    <p>
      <a routerLink="/products" class="back-link"
        ><button class="btn btn-primary">
          <i class="bi bi-backspace"></i> Back to product list
        </button>
      </a>
    </p>
  </div>
</div>
<ng-template #elseBlock>
  <div class="detail-container">
    <p>Oh ohhhh...</p>
    <p>Product not found</p>
  </div>
  <a routerLink="/products" class="detail-container">
    <button class="btn btn-primary">
      <i class="bi bi-backspace"></i> Back to product list
    </button>
  </a>
</ng-template>
